body { 
    background: #000;
    color: #fff;
    font: bold;

}

header {
    background: #FFC20E;
    
    margin: 30px;
    padding: 5px;
    border: 15px solid #00529b;
    border-radius: 15px;
    transition: all 0.5s;

}

header:hover {
    border-radius: 0%;
}

header h1 {
    text-align: center;
}

footer {
    background-image: linear-gradient(
        to left, #000, #00529b
        );
    margin: 30px;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.5s;
}

footer:hover {
    border-radius: 0%;

}