body { 
    background: #000;
    color: #fff;
    font: bold;

}

header {
    background: #FFC20E;
    margin: 30px;
    padding: 5px;
    border: 15px solid #00529b;

}

footer {
    background: #00529b;
    margin: 30px;
    padding: 5px;
}