body { 
    background: #101010;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-style: italic;

}

header {
    background: #FFC20E;
    
    margin: 30px;
    padding: 5px;
    border: 15px solid #00529b;
    border-radius: 15px;
    transition: all 0.5s;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2);

}

header:hover {
    border-radius: 0%;
}

header h1 {
    position: relative;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.1s;
    

}

header h1:hover{
    top : 0.5px;
    text-shadow: none;
    
}

main h2 {
    letter-spacing: 1px;
}

footer {
    background-image: linear-gradient(
        to left, #101010, #00529b
        );
    margin: 30px;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.5s;
}

footer:hover {
    border-radius: 0%;

}